h1{
  font-family:'Italiana', serif;
  font-weight: 400;
}

a{
  text-decoration:none;
  font-weight: none;
  font-style: none;
  color: #756D60;
}

h2{
  font-family:'Montserrat', sans-serif;
  font-weight: 400;
  color: text; #CEBFA7;
}

head{
  background-color: #756D60;
  border: 1px solid white;
}
body{
  background: #EBDABF;
  text-align: center;
  margin: auto;
  margin-top: 3rem;
  max-width: 600px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}
nav{
  background-color: #756D60;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  margin: 2px;
  padding: 30px;
  border: 1px solid white;
}
a{
  text-decoration:none;
  font-weight: bold;
  font-style: italic;
  color: #CEBFA7;
}
a:hover{
  color: white;
}
